{% extends "base.html" %}

{% block content %}
    <h1>&gt; Violations: {{ current_count }}</h1>
    <p style="margin-top:0px; font-size:8px;">lent lent lent lent lent lent lent lent lent lent lent lent</p>
    <br>

    <div align="center"><p><img style="height:50%; width:50%" src="/static/swear_jar.jpg" \></p>
    <br \>
        <form method="post" target="_self">
            <input style="height:500%; width:50%" type="submit" class="btn btn-primary" value="+1" />
        </form>
    <br \> <br \>
    Made with love, deployed on Kubernetes, running in Docker with some unicorn farts mixed in.
    </div>

{% endblock %}
