{% extends "base.html" %}

{% block content %}
    <h1 style="margin-top:10%">&gt; Violations: {{ current_count }}</h1>
    <p style="margin-top:0px; font-size:8px;">refraining from cursing isn't funny, but you know what is? keeping your coworkers accountable.</p>
    <br>

    <div align="center"><p><img style="height:50%; width:50%" src="/static/swear_jar.jpg" \></p>
    <br \>
        <form method="post" target="_self">
            <input style="height:500%; width:50%" type="submit" class="btn btn-primary" value="Click to +1" />
            <br />
            <p> <br /> Last Recorded Event: {{ last_record_date }}</p>
        </form>
    <br \> <br \>
    Made with love, deployed on Kubernetes, running in Docker with some unicorn farts mixed in.
    </div>

    <h2 style="margin-top:10%">ccp-kubernetes-deployment.yml</h2>
    <pre ><code class="yaml">apiVersion: apps/v1beta2
kind: Deployment
metadata:
  generation: 9
  labels:
    app: deployment-default-lent-ccp
  name: lent-ccp
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: deployment-default-lent-ccp
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    spec:
      containers:
      - image: bgulla/ccp
        imagePullPolicy: Always
        name: lent-ccp
        ports:
        - containerPort: 5000
          name: 5000tcp01
          protocol: TCP
        resources:
          limits:
            cpu: "1"
            memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities: {}
          privileged: false
          readOnlyRootFilesystem: false
          runAsNonRoot: true
        stdin: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        tty: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

    </code></pre>
{% endblock %}
